.body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background: #777;
    color: #777;
    width: 960x;
    font-size: 18px;
    text-align: center;
}

.main {
    display:flex;
    color: gray;
    padding: 25px 0;
    flex-wrap: wrap;
    padding: 25px;
    margin-left: 75px;
    margin-right: 75px;
    flex-direction: column;
    background: rgb(167, 163, 163);
}

.header {
    background: #ebebeb;
    Width: 800px;
    height: 100px;
    margin-left: 125px;
    flex: .2;
    text-align: center;
    padding: 40px 0 0 0;
}

.nav {
    background: #ebebeb;
    height: 100px;
    margin-top: 10px;
    margin-left: 125px;
    width: 800px;
    flex: .2;
    text-align: center;
    padding: 40px 0 0 0;
}

.section {
    margin-top: 20px;
    height: 300px;
    flex-wrap: wrap;
    display: flex;
    flex: .4;
    color: #777;
    text-align: center;
}

.section-left {
    background: #ebebeb;
    flex:1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 250px;
    margin-left: 125px;
    text-align: center;

}

.section-aside {
    flex: 1;
    float: right;
    margin-left: 20px;
    width: 35%;
    margin-right: 135px;
    background: #ebebeb;
    text-align: center;
    
}

.section-article {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    color: #ebebeb;
    background: #777;
    padding: 25px o;
    height: 200px;
    text-align: center;
}

.article-contents {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    padding: 25px 0;
}


.article-header {
    background: #dfd3d3;
    text-align: center;
    padding: 25px 0px;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
    background: whitesmoke;
    height: 10px;
    color: black;
    font-size: 20px;

    
}

.article-p {
   
    color: black;
    padding: 25px 0;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    background: whitesmoke;
    text-align: center;
    height: 40px;
    padding: 10px 0;
    
}

.footer {
    background: #ebebeb;
    margin-top: 20px;
    height: 75px;
    flex: .2;
    text-align: center;
    padding: 25px 0;
    margin-left: 125px;
    width: 800px;
}

.h1 {
    color:#777;
    background: #ebebeb;
    padding: 25px;

}

.p {
    color:#777;
    background: #ebebeb;
}

